@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

$font-stack: "Raleway", sans-serif;
$main-color: #F69E7B;
$primary-color: #383E56;
$secondary-color: #EEDAD1;
$tetiary-color: #1D1D1D;
$alternate-color: #D4B5B0;

@mixin g-boxshadow(){
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 20px;
}

@mixin span-1(){
    font-size: 30px;
    font-weight: 700;
    text-decoration: overline;
    color: $secondary-color;
}

@mixin bt-style(){
        padding: 15px 15px;
        background-color: $alternate-color;
        border-radius: 50%;
        text-decoration: none;

        img{
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
}

.cursor {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid $tetiary-color;
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: 2;
}
  
.cursor2 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: $secondary-color;
    opacity: 0.3;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width 0.3s, height 0.3s, opacity 0.3s;
    z-index: 2;
}
  
.hover {
    background-color: $alternate-color;
    opacity: 0.5;
}
  
.cursorinnerhover {
    width: 50px;
    height: 50px;
    opacity: 0.5;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-stack;
    cursor: none;
}

.home, .index{
    background-color: $primary-color;
}

.home-header{
    h1>{
        font-size: 25px;
        font-weight: 800;
        color: $tetiary-color;
    }

    span{
       @include span-1();
    }
}

.continue{
    a{
        @include bt-style();
    }
}

.carousel{
    max-height: 700px;
    max-width: 500px;
    transition: 0.8s ease-in-out;
    padding-bottom: 2rem;
    overflow: hidden;
    @include g-boxshadow();

    .image-wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    
        .image{
            width: 100%;
            grid-column: 1/2;
            grid-row: 1/2;
            opacity: 0;
            transition: 0.6s;
        }

        .img-1{
            transform: translate(0, -50px);
        }
        
        .img-2{
            transform: scale(0.4, 0.5);
        }
        
        .img-3{
            transform: scale(0.3) rotate(-20deg);
        }
    
        .show{
            opacity: 1;
            transform: none;
        }
    }

    .text-slider{
        align-items: center;

        .text-wrap{
            max-height: 2.5rem;
            overflow: hidden;
            margin-bottom: 2.4rem;

            .text-group{
                transform: translateY(0);

                h2{
                    line-height: 2.2rem;
                    font-size: 20px;
                    color: $secondary-color;
                }
            }
        }

        .bullet{
            display: flex;
            align-items: center;
            span{
                display: block;
                width: 0.5rem;
                height: 0.5rem;
                background-color: $secondary-color;
                margin: 0 0.25rem;
                border-radius: 50%;
                transition: 0.4s;
            }

            .active{
                width: 1.1rem;
                background-color: $tetiary-color;
                border-radius: 1rem;
            }
        }
    }

    
}

.index-header{
    h1{
        font-size: 30px;
        font-weight: 700;
        text-decoration: overline;
        color: $secondary-color;
    }
}

.app{
    max-width: 500px;
    min-height: 400px;
    @include g-boxshadow();
    border-radius: 10px;
    border: 2px solid $alternate-color;

    img{
        width: 100%
    }

    h2{
        @include span-1();
        text-decoration: none;
        color: $tetiary-color;
    }

    h1{
        @include span-1();
        text-decoration: none;
        font-size: 25px
    }

    button{
        @include bt-style();
        border: none;
        cursor: none;
    }
}

.reads{
    .reads-text{
        @include span-1();
        text-decoration: none;
    }

    .pdf{
           
         a{
             img{
                 max-width: 150px;
                 height: 170px;
                 margin-left: auto;
                 margin-right: auto;
             }
            display: flex;
            flex-direction: column;
            color: $alternate-color;
            font-size: 25px;
            text-decoration: none;
            @include g-boxshadow();
            max-width: 100%;
            min-height: 300px;
            padding: 20px 0px 0px 0px;
            border: 2px solid $alternate-color;
         }
        
    }
}

.connect{
    margin-top: 130px;

    .connect-items{
        h5{
            font-weight: 600;
        }
        h5,p{
            font-size: 13px;
        }
        img{
            width: 20px;
        }
    }
}

@media(max-width: 576px){
    .cursor, .cursor2{
        display: none;
    }
}









